@import './login-form';
@import './chat-box';
@import './widget';
 
html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin:0;
	padding:0;
}

.container{
	height:100vh;
	background: linear-gradient(to bottom, rgba(236,154,82,1) 0%, rgba(233,66,121,1) 100%);
	overflow: hidden;
	
}

#mainSlider{
	width: 200vw;
	height: 100vh;
	
	display: flex;
	align-items: stretch;
	transition: transform 0.5s ease-in-out;
	
	.page{
		flex: 1;
	}
}

.slide{
	transform: translate(-100vw,0px);
}

#snackbarContainer{
	position: fixed;
	top: 0;
	left: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	z-index: 10;
	transition: all 0.3s ease-in;
	transform: translate(0px, -100%);
	#snackbar{
		background: #151515;
		padding: 10px;
		color: white;
		border-radius: 10px;
	}
}
.snackSlide{
	transform: translate(0px, 50%) !important;
}

.star {
  color: #ff9933;
	cursor: pointer;
	font-size: 3rem;
}



/* Inline #9 | https://wnlyk.csb.app/ */

.star {
  /* transform: scale(2); */
  font-size: 3rem;
}

.widgetContainer {
  /* height: 40rem; */
  /* width: 40rem; */
  max-height: 40rem;
  flex: 1;
}

#map {
  min-height: 40vh;
  min-width: 20rem;
}

/* Element | https://wnlyk.csb.app/ */

span.star:nth-child(3) {
}

/* Element | https://wnlyk.csb.app/ */

.widgetContainer > div:nth-child(2) {
  flex: 1;
  background: white;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
}

/* Element | https://wnlyk.csb.app/ */

.widgetContainer > h1:nth-child(1) {
  border: 1px solid white;
  margin: 0;
  padding: 15px;
  border-radius: 20px 20px 0 0;
}
